.orderform{
	width:80%;
	display: flex;
}
.input-row{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.input-row .input-group{
	flex-basis: 45%;
}
input{
	width: 100%;
	border: none;
	border-bottom: 1px solid #ccc;
	outline: none;
	padding-bottom: 5px;
}
label{
	margin-bottom: 6px;
	display: block;
	color: #1c00b5;
}
button{
	background: #1c00b5;
	width: 100px;
	border: none;
	outline: none;
	color: white;
	height: 35px;
	border-radius: 30px;
}